@model Codex.Models.TeacherModels.ViewModels.TeacherViewModel
@{
    ViewBag.Title = "Inbox";
    ViewBag.UserName = "Teacher";
}

<!-- Date Filter -->
<div class="section">
    <div id="dateFilter" class="row">
        <div class="input-field col s6">
            <select id="dateYear">
                @foreach (var year in Model.TeacherYearsActive)
                {
                    <option value=@year>@year</option>
                }
            </select>
            <label>Select Year</label>
        </div>
        <div class="input-field col s6">
            <select id="dateSemester" >
                <option value="1">Spring</option>
                <option value="2">Summer</option>
                <option value="3">Autumn</option>
            </select>
            <label>Select Semester</label>
        </div>
    </div>
</div>

<!-- Course Selection -->
<div class="section">
    <div id="teacherCourses" class="row">
    </div>
</div>