@model Codex.Models.SharedModels.SharedViewModels.HomeStudentViewModel
@{
    ViewBag.Title = "Home Page";
}

<main class="container">
    <!-- Section for open assignments -->
    <div class="section">
        <h5>Open Assignments</h5>
        <ul class="collection with-header">
            <li class="collection-item">
                <div class="row student-overview">
                    <div class="col s2"><b>Skilaverkefni 3</b></div>
                    <div class="col s2"><a class="waves-effect waves-light btn">Details</a></div>
                    <div class="col s2">6 days left</div>
                    <div class="col s2">Gagnaskipan</div>
                    <div class="col s2">1 problem</div>
                    <div class="col s2">Unfisnished</div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row student-overview">
                    <div class="col s2"><b>Skilaverkefni 2</b></div>
                    <div class="col s2"><a class="waves-effect waves-light btn">Details</a></div>
                    <div class="col s2">2 hours left</div>
                    <div class="col s2">Gagnaskipan</div>
                    <div class="col s2">2 problems</div>
                    <div class="col s2">Done</div>
                </div>
            </li>
        </ul>
    </div>
    <!-- Section for closed assignments -->
    <div class="section">
        <h5>Closed Assignments</h5>
        <ul class="collection with-header">
            <li class="collection-item">
                <div class="row student-overview">
                    <div class="col s2"><b>Skilaverkefni 1</b></div>
                    <div class="col s2"><a class="waves-effect waves-light btn">Details</a></div>
                    <div class="col s2">Grade: 10</div>
                    <div class="col s2">Gagnaskipan</div>
                    <div class="col s2">1 problem</div>
                    <div class="col s2">Done</div>
                </div>
            </li>
        </ul>
    </div>
</main>