@model Codex.Models.SharedModels.SharedViewModels.StudentViewModel
@{
    ViewBag.Title = "Inbox";
    ViewBag.UserName = "Student";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h4>Open</h4>
            @try
            {
                <ul class="collapsible popout" data-collapsible="accordion">
                    @foreach (var assignment in Model.Assignments)
                {
                    if (assignment.EndTIme < DateTime.Now)
                    {
                            <li class="collapsible-level1">
                                <div class="collapsible-header">
                                    <div class="row clear-margin">
                                        <div class="col s3 truncate">
                                            <label for="@assignment.Id">
                                                <span class="transparent-text">.</span>
                                            </label>
                                            <span>@assignment.EndTIme</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapsible-body">
                                    <div class="card-panel collapsible-body-container">
                                        test
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            }
            catch (Exception e)
            {
                <div>There are no open assignments.</div>
            }
    </div>
    <div>
        
        @try
            {
            <h4>Closed</h4>
            <ul class="collapsible popout" data-collapsible="accordion">
                @foreach (var assignment in Model.Assignments)
                {
                    if (assignment.EndTIme >= DateTime.Now)
                    {
                        <li class="collapsible-level1">
                            <div class="collapsible-header">
                                <div class="row clear-margin">
                                    <div class="col s3 truncate">
                                        <label for="@assignment.Id">
                                            <span class="transparent-text">.</span>
                                        </label>
                                        <span>@assignment.EndTIme</span>
                                    </div>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <div class="card-panel collapsible-body-container">
                                    test
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        }
        catch (Exception e)
        {
            //do nothing
        }
</body>
</html>
