/*Style icons*/
.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

/*Sticky footer*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*Search bar fix*/

/*http://stackoverflow.com/questions/18778412/move-an-image-down*/

input[type="search"] {
    height: 56px !important; /* or height of nav */
}

/*Navbar responsiveness*/

@media only screen and (min-width: 601px) {
    input[type="search"] {
        height: 64px !important; /* or height of nav */
    }
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

h1 > a {
    display: inline-block;
    width: 50%;
    margin-top: 0.8em;
}

form > div > div > h2 {
    font-size: 1.5rem;
}

@media only screen and (min-width: 993px) {
    h1 > a {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    h1 {
        font-size: 2.1rem;
    }

    h1 > a {
        margin-top: 0.5em;
    }

    form > div > div > h2 {
        font-size: 2.1rem;
    }
}

#search-col {
    margin: 0;
    padding: 0;
}

nav > div.nav-wrapper > div.row > div:last-child > ul > li:first-child {
    width: 100%;
    text-align: center;
}

#avatar-dropdown > li > a > i {
    display: inline-block;
    font-size: 1.5em;
    position: relative;
    top: 0.2em;
    margin-right: 0.3em;
}


.fill-width {
    width: 100%;
}

.submission-submit-button {
    padding: 0 1em;
    margin: 0;
}

.submission-submit-button i {
    margin: -0.25em 0 0 0;
    font-size: 1.2em;
}

.submission-submit-button span {
    margin-left: 0.5em;
}

input[type="file"] {
    display: none;
}

.file-upload {
    cursor: pointer;
    display: inline-block;
}

.file-upload span {
    padding: 0;
    margin: 0;
}

.file-upload span i {
    margin-top: -0.2em;
    padding: 0;
}

.status {
    position: relative;
    overflow: visible;
}

.status > span > span.material-icons, .status > a > span.material-icons {
    position: relative;
    top: 0.4rem;
}

#logo-container img {
    padding: 0.6em 0 0 1em;
    width: 12%;
}

.collapsible-body-container {
    background-color: #fff;
    width: 95%;
}

.teacher-legend, .collapsible-body-container {
    margin: 1em auto;
}

@media only screen and (max-width: 601px) {
    .teacher-legend {
        margin-left: 1em;
    }
}

.problems > li > div > .row {
    margin: 0;
}

/* Radio Buttons */

.radio_buttons label {
    margin-right: 2em;
    padding: 0;
}

/* Fixed action button */

.fixed-action-btn {
    bottom: 45px;
    right: 24px;
}

.clear-margin {
    margin: 0;
}

.assignment-info-button i {
    margin: -0.2em auto 0;
}

.submission-download-button i{
    font-size: 1.6em;
}

.submission-download-button {
    text-transform: none;
}

.assignment-category-title {
    font-size: 1em;
    margin-bottom: 0.5em;
    overflow: hidden;
}

.assignment-heading {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.problem-heading {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

/* Test case container */
.test-case {
    background-color: #e0e0e0 ;
}

.test-case h4, .test-case .card-panel {
    margin-left: 30px;
    margin-right: 30px;
}

.test-case h4 {
    font-size: 1.2em;
}

.test-case span {
    font-family: monospace;
}

@media only screen and (max-width: 601px) {
    .capitalize-on-small-and-down {
        text-transform: capitalize;
    }
}

.grade-input {
    margin-bottom: 0 !important;
    position: relative;
    top: -0.5em;
}

span.center-icon > span {
    margin: 0.25em auto 0;
}
/*
@media only screen and (max-width: 601px) {
    span.center-icon > i {
        position: relative;
        left: 15%;
    }
}
*/

@media only screen and (min-width: 601px) and (max-width: 992px) {
    span.center-icon > span {
        margin-left: -0.5em;
    }
}

/* Sidenav styling */
#slide-out i{
    display: inline-block; 
}

#slide-out span{
    position: relative;
    bottom: 0.5em;
    left: 0.5em; 
}

/* Materialize Collection styling */

.collection .collection-item {
    padding-top: 4px;
    padding-bottom: 3px;
}

/* Materialize button styling */

.narrow-button {
    padding: 0 1rem;
}

@media only screen and (max-width: 601px) {
    .narrow-button {
        padding: 0;
    }
}

/* Materialize custom wave colors */

.waves-effect.waves-light-blue .waves-ripple {
    background-color: rgba(79, 195, 247, 0.65);
}

/*  Materialize preloader */

.preloader-wrapper {
    position: absolute;
    top: 0.25em;
    left: 50%;
}

/* Materialize blockquotes */
blockquote {
    border-left-color: #03a9f4;
}